<div class="container">
  <div class='row'>
    <div class="col-xs-12">
      <h2>Eat-Da-Burger!</h2>
      <img src="/images/burger.png">
    </div>

    <div class="col-xs-6" id="burgers">
      <div class="row">
        {{#each burger_data}}
          {{#unless this.devoured}}
      <div class="col-xs-9">
        <pre>{{this.id}}. {{this.burger_name}}</pre>
      </div>

      <div class="col-xs-3">
        <form class="button-size" method="POST" action="/burgers/update?_method=PUT">
       <input type= "hidden" name="burger_id" type="text" value={{this.id}}><br>
       <button type="submit" class="btn btn-default">Devour it!</button>
     </form>
</div>
      {{!-- {{> burgers/burger-block devoured=false}} --}}
    {{!-- <button data-id="{{this.id}}" class="eat-burger">Devour!</button> --}}
    {{!-- <br><br> --}}
    {{!-- {{/unless}} --}} 
    {{/unless}}
  {{/each}}
  
</div>
</div>

<div class="col-xs-6" class="task">

  {{#each burgers}}
  {{#if this.devoured}}
    {{!-- {{#unless devoured}} --}}
      {{!-- {{> burgers/burger-block devoured=true}} --}}
        <input class="form-control" type="text" placeholder="{{this.id}}.{{this.burger_name}}" readonly>
        {{!-- <br><br> --}}
        {{/if}}
    {{/each}}
  {{!-- {{!-- {{/each}} --}}
</div> 
</div>
</div>


<div class="container">
  <div class="row">
<form action="/burgers/create" method="POST">

  {{!-- <textarea type="text" for="burger"></textarea> --}}
    <input type="text" class="form-control" id="enter_burger" name="burger_name" value="">
    

  <button type="submit">Submit</button>
  <h4>Enter a burger you want to eat and press submit.</h4>
</form>
</div>
</div>
</div>